/* * {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
} */

/* .white_label {
    color: rgba(124, 121, 121, 0.568);
} */

/* header {
    background-image: url("../images/mmm.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: cover !important;

} */

/* .start-jrn-blue {
    top: 90%;
    left: 55%;
    transform: translate(-50%, -50%);
} */


/* .start-jrn-yellow {
    top: 90% !important;
    left: 85% !important;
    transform: translate(-50%, -50%) !important;
} */

.bar-blue {
    height: 8px !important;
}

nav {
    background-image: linear-gradient(#551b06e0, #e47a00, #441606ec );
}

/* .journeystarts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */




















