@font-face {
    font-family: 'BPG Glaho';
    src: url('BPGGlaho.woff2') format('woff2'),
        url('BPGGlaho.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

